.Expenses{
  background-color: #111;
  /* background-color: lightcoral; */
  max-width: 800px;
  width: 93vw;
  margin: auto;
  margin-top: 30px;

  /* border-radius: 15px; */
  padding-inline: 15px;
  padding-block: 15px;
}